<div class="form-row" [formGroup]='criticalFormGroup' *ngIf='npi.stage>1 && !this.npiComponent.newFormVersionFlag'>
  <div class='col'>
    <label for='criticalAnalisys' class=col>
      <center>
        <h4>Análise Crítica</h4>
      </center>
    </label>
    <div class='table-responsive' id='criticalAnalisys' formArrayName='critical'>
      <table class="table table-bordered">
        <thead class='thead-dark'>
          <tr>
            <th scope="col">Departamento</th>
            <th scope="col">Status</th>
            <th scope="col">Observações</th>
            <th scope="col">Assinatura Digital</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let analisys of criticalFormGroup.get("critical").controls; index as i' [formGroupName]='i'>
            <td>
              {{ utils.getDepartment(npi.critical[i].dept) }}
            </td>
            <td>
              <label class='radio-container form-check-inline' (click)='toggleStatus(i, $event)'>
                <input type='radio' class='radio-approval radio-accept' value='accept' formControlName='status' id='accept-{{i}}'>
                <span class='fa radio-approval radio-accept' name='criticalApprove'></span>
              </label>
              <label class='radio-container form-check-inline' (click)='toggleStatus(i, $event)'>
                <input type='radio' class='radio-approval radio-deny' value='deny' formControlName='status' id='deny-{{i}}'>
                <span class='fa radio-approval radio-deny' name='criticalApprove'></span>
              </label>
            </td>
            <td>
              <textarea class="form-control" rows=1 formControlName='comment' 
              [ngClass]='{"is-invalid": fieldHasErrors("critical."+i+".comment")}'></textarea>
              <div class='invalid-feedback h-auto'>
                É necessário incluir uma justificativa ao recusar uma proposta
              </div>
            </td>
            <td>
              <div class='radio-level-legend'><i>{{ signatures[i] }}</i></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
