.radio-container {
    display: inline;
    position: relative;
    top: -10px;
    font-size: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input{
    opacity: 0;
    display: none;
}

.radio-container input:disabled{
    opacity: 0;
    cursor: default;
    display: none;
}

.radio-approval {
    display: inherit;
    position: inherit;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.radio-accept:after {
    font-family: "FontAwesome";
    font-size: 14pt;
    content: '\f10c \ Aprovar';
    padding: 8px;
    border-radius: 4px;
    background-color: #428bca;
}

.radio-deny:after {
    font-family: "FontAwesome";
    font-size: 14pt;
    content: "\f10c\ Reprovar";
    padding: 8px;
    border-radius: 4px;
    background-color: #d9534f
}

.radio-container:hover input:enabled ~ 
.radio-approval:after {
    cursor: pointer;
    color: rgb(255, 255, 255)
}

.radio-container input:disabled ~
.radio-deny:after {
    cursor: default;
    background-color: grey;
    color: #ccc
}

.radio-container input:disabled ~
.radio-accept:after {
    cursor: default;
    background-color: grey;
    color: #ccc
}

.radio-container:hover input:disabled ~ 
.radio-approval:after {
    color: currentColor;
}

.radio-container input:enabled ~
.radio-deny:after {
    display: inherit;
}

.radio-container input:enabled ~
.radio-accept:after {
    display: inherit;
}

.radio-container input:checked ~
.radio-accept:after {
    display: inherit;
    color: rgb(255, 255, 255);
    background-color: #316592;
    content: '\f05d \ Aprovar';
}

.radio-container:hover input:checked:disabled ~ 
.radio-accept:after {
    color: rgb(255, 255, 255)
}

.radio-container input:checked ~
.radio-deny:after {
    display: inherit;
    color: rgb(255, 255, 255);
    background-color: #973b36;
    content: '\f05c \ Reprovar';
}

.radio-container:hover input:checked:disabled ~ 
.radio-deny:after {
    color: rgb(255, 255, 255)
}

.signature {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.final-signature {
    font-size: 14px; 
    line-height: 20px !important;
    color: gray;
}