<div [formGroup]='validateForm'>
  <h4>
    <b>Validação do Projeto/Produto</b>
  </h4>
  <div class="form-row" formGroupName='validation'>
    <div class='form-group col-xs-12 col-md-4 col-lg-3'>
      <label for='pilot'>Aprovação do Lote Piloto: </label>
      <div><b>{{ pilotDate }} </b> <i class='fa fa-check text-success'> </i></div>
    </div>


    <div class='form-group col-xs-12 col-md-8 col-lg-9'>
      <label for='product'>Resultado da Verificação do Projeto/Produto</label>
       <div class='row align-items-center mt-1 mb-0' formGroupName='finalApproval'>
        <div class='col-auto' *ngIf='npi.finalApproval?.status'>
          <span class='fa fa-2x' style='vertical-align: middle' [ngClass]='npi.validation.finalApproval?.status=="accept" ? "fa-check-circle-o text-primary" : "fa-check-times-o text-danger"'></span>
        </div>
        <div *ngIf='npi.validation.finalApproval?.status || amITheValidator()'>
          <label *ngIf='(npi.validation.finalApproval?.status && npi.validation.finalApproval?.status=="accept") || amITheValidator()'
            class='radio-container form-check-inline' (click)='toggleStatus(i, $event)'>
            <input type='radio' class='radio-approval radio-accept' value='accept' formControlName='status' id='accept'>
            <span class='fa radio-approval radio-accept' name='criticalApprove'></span>
          </label>
          <label *ngIf='(npi.validation.finalApproval?.status && npi.validation.finalApproval?.status=="deny") || amITheValidator()'
            class='radio-container form-check-inline' (click)='toggleStatus(i, $event)'>
            <input type='radio' class='radio-approval radio-deny' value='deny' formControlName='status' id='deny'>
            <span class='fa radio-approval radio-deny' name='criticalApprove'></span>
          </label>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label for='finalComment'>Justificativa</label>
            <input class='form-control' formControlName='comment' id='finalComment' #comment [ngClass]='{"is-invalid": fieldHasErrors("finalApproval")}'>
            <div class='invalid-feedback'>
              Descreva o motivo da aprovação
            </div>
          </div>
        </div>
        <div class='col-12 col-sm text-center final-signature' *ngIf='finalSignature'>
          <div class='rounded bg-light m-0 p-2'>
            <i>
              <b>{{ finalSignature }}</b>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='form-group' formGroupName='validation'>
    <label for='final'>ANÁLISE FINAL</label>
    <textarea class='form-control' id='final' formControlName='final' rows='5' required></textarea>
  </div>
  <div class='row' *ngIf='validateForm.valid==true'>
    <div class='col'>
      <button type='button' class='w-100 btn btn-primary' (click)='finalizeNpi()'>
        <i class='fa fa-check'></i>
        Finalizar NPI
      </button>
    </div>
  </div>
  <div>
    <button class='btn btn-outline-info shadow-none ml-auto' type='button' (click)='toggleNewVersion()' *ngIf='isFormEnabled && npi.stage == 4'>
      Alterar Projeto
    </button>
  </div>
</div>
<hr>