<div [formGroup]='validateForm'>
  <h4>
    <b>Validação do Projeto/Produto</b>
  </h4>
  <div class="form-row" formGroupName='validation'>
    <div class='form-group col-6'>
      <label for='pilot'>Aprovação do Lote Piloto</label>
      <input type='text' class='form-control' formControlName='pilot' id='pilot' required>
    </div>
    <div class='form-group col-6'>
      <label for='product'>Resultado da Verificação do Projeto/Produto</label>
      <input type='text' class='form-control' formControlName='product' id='product' required>
    </div>
  </div>
  <div class='form-group' formGroupName='validation'>
    <label for='final'>ANÁLISE FINAL</label>
    <textarea class='form-control' id='final' formControlName='final' rows='5' required></textarea>
  </div>
  <div class='row' *ngIf='validateForm.valid==true'>
    <div class='col'>
      <button type='button' class='w-100 btn btn-primary' (click)='finalizeNpi()'>
        <i class='fa fa-check'></i>
        Finalizar NPI
      </button>
    </div>
  </div>
  <div>
    <button class='btn btn-outline-info shadow-none ml-auto' type='button' (click)='toggleNewVersion()' *ngIf='isFormEnabled && npi.stage == 4'>
      Alterar Projeto
    </button>
  </div>
</div>
<hr>