<div [formGroup]='validateForm'>
  <h4>
    <b>Validação do Projeto/Produto</b>
  </h4>
  <div class="form-row" formGroupName='validation'>
    <div class='form-group col-xs-12 col-md-4 col-lg-3'>
      <label for='pilot'>Aprovação do Lote Piloto: </label>
      <div><b>{{ pilotDate }} </b> <i class='fa fa-check text-success'> </i></div>
    </div>
  </div>


  <!-->div class='form-group col-xs-12 col-md-8 col-lg-9'
      *ngIf='!npi.validation?.finalApproval?.signature?.user && amITheValidator()'>
      <label for='product'><b>Registrar Validação</b></label>
      <div class='row mt-0 pt-0' formGroupName='finalApproval'>
        <div class='col-12 mt-0 pt-0'>
          <label class='radio-container form-check-inline mt-0 pt-0' (click)='toggleStatus(i, $event)'>
            <input type='radio' #finalApproval class='radio-approval radio-accept' value='true' formControlName='status'
              id='accept'>
            <span class='fa radio-approval radio-accept' name='criticalApprove'></span>
          </label>
          <label class='radio-container form-check-inline mt-0 pt-0' (click)='toggleStatus(i, $event)'>
            <input type='radio' #disapproval class='radio-approval radio-deny' value='false' formControlName='status'
              id='deny'>
            <span class='fa radio-approval radio-deny' name='criticalApprove'></span>
          </label>
        </div>
        <div class='col-12' *ngIf='validateForm.get("validation").get("finalApproval").get("status").value == "false"'>
          <div class='form-group'>
            <label for='finalComment'>Justificativa</label>
            <input class='form-control' formControlName='comment' id='finalComment' #comment
              [ngClass]='{"is-invalid": fieldHasErrors("finalApproval")}'>
            <div class='invalid-feedback'>
              Descreva o motivo da reprovação
            </div>
          </div>
        </div>
      </div>
    </div>
  </div-->


  <!-->div class='form-group' formGroupName='validation' *ngIf='npi.validation.disapprovals.length || (npi.validation.finalApproval.signature?.user && npi.validation.finalApproval.signature?.date)'>
    <b>Validações anteriores:</b>
    <div class='row mb-3'>
      <div *ngFor='let disapproval of npi.validation.disapprovals; index as i' class='col-12'>
        <span class='fa fa-fw fa-times text-danger pb-1' style='vertical-align: middle'></span>
        {{ disapprovalSignatures[i].date }} - <span class=text-danger>Reprovado</span> por
        <b>{{ disapprovalSignatures[i].user }}</b>: <i>{{ disapproval.comment }}</i>
      </div>
      <div class='col-auto' *ngIf='npi.validation?.finalApproval?.signature?.date && npi.validation?.finalApproval?.signature?.user'>
        <span class='fa fa-fw fa-check text-primary pb-1' style='vertical-align: middle'></span>
        {{ finalSignature.date }} - <span class=text-primary>Aprovado</span> por <b>{{ finalSignature.user }}</b>.
      </div>
    </div>
  </div-->
  <div class='form-group' formGroupName='validation'>
    <label for='final'>Análise Final</label>
    <textarea class='form-control' id='final' formControlName='final' rows='5' required></textarea>
    <div class='row' *ngIf='validateForm.valid && amITheValidator()'>
      <div class='col'>
        <button type='button' class='w-100 btn btn-outline-info mt-2' (click)='npiComponent.toggleEdit()'>
          <i class='fa fa-edit'></i>
          Alterar NPI
        </button>
      </div>
      <div class='col'>
        <button type='button' class='w-100 btn btn-primary mt-2' (click)='finalizeNpi()'>
          <i class='fa fa-check'></i>
          Finalizar NPI
        </button>
      </div>
    </div>
  </div>
</div>
<hr>