.fa-file-upload {
    color: white;
    width: 16px;
    margin: 0;
    fill: blue
}

.upload-button{
    text-shadow: 0 1px 10px #ddd;
    color: slateblue;
}

.fa-upload {
    font-size: 14pt
}

.upload-button:hover{
    cursor: pointer;
    text-shadow: 0 1px 12px lighten($color: slateblue, $amount: 25)
}

.upload-button:active{
    color: blue
}

.npi-search-icon:before {
    content: "\f002";
}

button:hover .npi-search-icon:before {
    color: blue
}

.append-icon:after {
    content: "\f07b";
}

button:hover:enabled .append-icon:after {
    content: "\f07c";
}

button:disabled {
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    opacity: 1
}

button:disabled .append-icon {
    color: lightgray
}