<div [formGroup]='npiForm'>
  <div class="form-row" [formGroup]='npiForm'>
    <div class="form-group col-sm-3 col-md-2 col-lg-2">
      <label for="npiref">NPI Ref.</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="npiRefPrepend">
            <i class='fa fa-fw'>#</i>
          </span>
        </div>
        <input type="text" class="form-control" id="npiRef" formControlName='npiRef' [ngClass]='{"is-invalid": fieldHasErrors("npiRef")}'>
        <div class='invalid-feedback'>
          Defina a Npi de referência
        </div>
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-3 mb-4">
      <label for="complexity">Complexidade</label>
      <select class="custom-select" id="complexity" placeholder="Complexidade" formControlName='complexity' [ngClass]='{"is-invalid": fieldHasErrors("complexity")}'>
        <option value=3> Alta </option>
        <option value=2> Média </option>
        <option value=1> Baixa </option>
      </select>
      <div class='invalid-feedback'>
        Defina a complexidade do projeto
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-3 mb-4">
      <label for="client">Cliente</label>
      <input type="text" class="form-control" id="client" placeholder="Cliente" formControlName='client' [ngClass]='{"is-invalid": fieldHasErrors("client")}'>
      <div class='invalid-feedback'>
        Defina o cliente
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class='col form-group mb-4' formGroupName='projectCost'>
      <div class='row align-items-end'>
        <div class='col form-group mr-0 pr-0'>
          <label for="cost">Custo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="costPrepend">
                R$
              </span>
            </div>
            <input class='form-control' type='text' [textMask]="npiComponent.currencyMask" 
              formControlName='cost' name='cost' placeholder='00,00'
              aria-describedby="Custo" [ngClass]='{"is-invalid": fieldHasErrors("projectCost.cost")}'>
            <div class='invalid-feedback'>
              Defina o custo do produto
            </div>
          </div>
        </div>
        <div class='col col-auto form-group'>
          <label for=costAnnex class='m-0 p-0 pb-1 upload-button'>
            <i class='fa fa-upload m-0 p-0 pr-1'></i>
          </label>
          <!--input type="file" name="costAnnex" ng2FileSelect hidden [uploader]="uploadService.uploader" id='costAnnex'>
          <button type="button" class="btn btn-success btn-s" (click)="uploadService.uploader.uploadAll()" [disabled]="!uploadService.uploader.getNotUploadedItems().length">
            Upload with ng-2 file uploader
          </button-->
        </div>
      </div>
    </div>
    <div class='col form-group mb-4'>
      <label for="price">Preço</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="pricePrepend">
            R$
          </span>
        </div>
        <input class='form-control' type='text' [textMask]="npiComponent.currencyMask" formControlName='price' name='price' placeholder='00,00'
          aria-describedby="Preço" [ngClass]='{"is-invalid": fieldHasErrors("price")}'>
        <div class='invalid-feedback'>
          Defina o preço do produto
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class='col-md-3 form-group mb-4'>
      <label for="investment">Investimento</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="investmentPrepend">
            R$
          </span>
        </div>
        <input class='form-control' type='text' [textMask]="npiComponent.currencyMask" formControlName='investment' name='investment' 
        placeholder='00,00' aria-describedby="Investimento" [ngClass]='{"is-invalid": fieldHasErrors("investment")}'>
        <div class='invalid-feedback'>
          Defina o investimento do projeto
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class='col-md-6 form-group mb-4'>
      <label for="inStockDateType">Data em Estoque</label>
      <div class="form-row">
        <div class="input-group">
          <input type='text' class='form-control' formControlName='inStockDate' name='inStockDate' aria-describedby="Data em Estoque"
            #dp="bsDatepicker" bsDatepicker [bsConfig]='npiComponent.datePickerConfig' [ngClass]='{"is-invalid": fieldHasErrors("inStockDate")}'>
          <div class="input-group-append">
            <li class="input-group-text" id="inStockDateAppend" (click)="dp.toggle()">
              <i class='fa fa-calendar fa-fw'></i>
            </li>
          </div>
          <div class='invalid-feedback'>
            Defina a data em estoque
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>