<div [formGroup]='npiForm'>
  <div class="form-row">
    <div class="form-group col-sm-3 col-md-2 col-lg-2">
      <label for="npiref">NPI Ref.</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="npiRefPrepend">
            <i class='fa fa-fw'>#</i>
          </span>
        </div>
        <input type="text" class="form-control" id="npiRef" formControlName='npiRef' name='npiRef' [ngClass]='{"is-invalid": fieldHasErrors("npiRef")}'>
        <div class='invalid-feedback'>
          Defina a Npi de referência
        </div>
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-3 mb-4">
      <label for="complexity">Complexidade</label>
      <select class="custom-select" id="complexity" placeholder="Complexidade" formControlName='complexity' [ngClass]='{"is-invalid": fieldHasErrors("complexity")}'>
        <option value=3> Alta </option>
        <option value=2> Média </option>
        <option value=1> Baixa </option>
      </select>
      <div class='invalid-feedback'>
        Defina a complexidade do projeto
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-3 mb-4">
      <label for="client">Cliente</label>
      <input type="text" class="form-control" id="client" placeholder="Cliente" formControlName='client' [ngClass]='{"is-invalid": fieldHasErrors("client")}'>
      <div class='invalid-feedback'>
        Defina o cliente
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class='col-md-3 form-group'>
      <label for="investment">Investimento</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="investmentPrepend">
            R$
          </span>
        </div>
        <input class='form-control' type='text' [textMask]="currencyMask" formControlName='investment' name='investment' placeholder='00,00'
          aria-describedby="Investimento" [ngClass]='{"is-invalid": fieldHasErrors("investment")}'>
        <div class='invalid-feedback'>
          Defina o investimento
        </div>
      </div>
    </div>
    <div class='col-md-3 form-group' formGroupName='projectCost'>
      <label for="projectCost">Custo do Projeto</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="investmentPrepend">
            R$
          </span>
        </div>
        <input class='form-control' type='text' [textMask]="currencyMask" formControlName='cost' name='projectCost' placeholder='00,00'
          aria-describedby="Custo do Projeto" [ngClass]='{"is-invalid": fieldHasErrors("projectCost")}'>
        <div class='invalid-feedback'>
          Defina o custo do projeto
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class='col-md-6 form-group'>
      <label for="inStockDateType">Data em Estoque</label>
      <div class="form-row">
        <div class="form-group col" id='inStockDate-group'>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="fixed-date" value='fixed' name='inStockDateType' formControlName="inStockDateType">
            <label for="fixed-date" class='custom-control-label'>
              Data fixa
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="offset-date" value='offset' name='inStockDateType' formControlName="inStockDateType">
            <label for="offset-date" class='custom-control-label'>
              Prazo após aprovação
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-6 col-lg-4" [style.display]='npiForm.controls["inStockDateType"].value=="fixed"?"flex":"none"'>
          <div class="input-group">
            <input type='text' class='form-control' formControlName='inStockFixedDate' name='inStockFixedDate' aria-describedby="Data em Estoque"
              #dp="bsDatepicker" bsDatepicker [bsConfig]='datePickerConfig'>
            <div class="input-group-append">
              <li class="input-group-text" id="inStockDateAppend" (click)="dp.toggle()">
                <i class='fa fa-calendar fa-fw'></i>
              </li>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-lg-4" [style.display]='npiForm.controls["inStockDateType"].value=="offset"?"inherit":"none"'>
          <div class='input-group'>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inStockDatePrepend">
                Dias
              </span>
            </div>
            <input type='number' class='form-control' formControlName='inStockOffsetDate' name='inStockOffsetDate' aria-describedby="Data em Estoque">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row" formGroupName='oemActivities'>
    <div class='col'>
      <label for='oemActivities'>
        <h4>Etapas O&M</h4>
      </label>
      <div class='table-responsive'>
        <table class="table table-sm table-bordered" id='oemActivities'>
          <thead class='thead-purple'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Atividade</th>
              <th scope="col">Responsável</th>
              <th scope="col" class='td-date'>Prazo</th>
              <th scope="col">Comentário</th>
              <th scope="col">Anexos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let activity of npiForm.get("oemActivities").controls; index as i' formGroupName='{{ i }}'
            class='align-middle'>
              <th class='align-middle' scope="row">{{ i }}</th>
              <td>{{ npi.oemActivities[i].title }}</td>
              <td>{{ npi.oemActivities[i].dept }}</td>
              <td>
                <input type='text' class='form-control' formControlName='date' aria-describedby="Prazo para Atividade O&M {{ i }}" #dp="bsDatepicker"
                  bsDatepicker [bsConfig]='datePickerConfig'>
              </td>
              <td>
                <textarea class="form-control" rows=1 formControlName='comment'></textarea>
              </td>
              <td>
                <i class='fa fa-upload m-0 p-0 pr-1'></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>