<div class='container'>
  <app-nav-buttons></app-nav-buttons>
  <div class='row'>
    <div class='col-6'>
      <h3>Usuários</h3>
    </div>
    <div class='col-6' *ngIf='userLevel>1'>
      <button type="submit" class="btn-user btn btn-primary float-right" href="/register" (click)='goToRegister()'
        *ngIf="userLevel > 0" style='margin:2px;'>
        <i class='fa fa-user-plus'></i>
        Cadastrar Usuário
      </button>
    </div>
  </div>
  <hr>
  <div class='row p-3' *ngIf='usersList'>
    <div class='col-xs-12 col-md-6 col-xl-4 p-0' (click)='editProfile(user._id)' *ngFor='let user of usersList'>
      <div class='user-detail' [ngClass]='{"user-pending": user.status!="active"}' *ngIf='user.status!="disabled"'>
        <div class='col-12'>
          <b> {{ user.status == 'active' ? user.firstName + ' ' + (user.lastName ? user.lastName : '') : user.email
            }}
            <span class='label float-right' style='margin-right:0; margin-top: 4px' [ngClass]="{
                'basic' : user.level == 0,
                'manager' : user.level == 1,
                'master' : user.level == 2,
                'admin' : user.level == 3
              }">
              {{ user.level==0?'Normal':user.level==1?'Gestor':user.level==2?'Master':user.level==3?'Administrador':'' }}
            </span>
          </b>
        </div>
        <div class='col-12 description'>{{ user.email }} </div>
        <div class='col-12 description'>{{ utils.getDepartment(user.department)?.label }} </div>
      </div>
    </div>
  </div>
</div>