.user-detail {
    margin: 2px;
    border-style: solid;
    border-color: #eee;
    border-radius: 6px;
    border-width: 1px;
    padding: 8px;
    box-shadow: 0px 1px 6px #eee;
}

.description {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.user-detail:hover {
    background-color: #eee;
    cursor: pointer
}

.user-pending{
    color: gray
}

.label{
    font-size: 10px;
    display: inline-block
}
.admin{
    color: orange
}
.master{
    color: blue
}
.normal{
    color: gray
}