.sticky-bottom {
    position: sticky !important;
    bottom: 0;
}

.release-date {
    position: sticky;
    width : auto;
    bottom: 32px;
    text-shadow: 1px 2px 10px #ccc; 
    height: 0
}

.signature {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.date {
    min-width: 120px;
    max-width: 120px;
}


.applyable{
    filter: opacity(1)
}

.not-applyable{
    filter: opacity(0.5);
    text-decoration: line-through
}
