<div class="form-row">
  <div class='col'>
    <label for='activities' class=col>
      <center>
        <h4>Etapas Macro do Projeto</h4>
      </center>
    </label>
    <div id='activities' class='table-responsive' [formGroup]='activitiesFormGroup'>
      <table class="table table-sm table-bordered table-hover" #table>
        <thead class='thead-light' id='tableHead'>
          <tr>
            <th scope="col" rowspan=2>#</th>
            <th scope="col" rowspan=2>Atividade</th>
            <th scope="col" rowspan=2>Responsável</th>
            <th scope="col" colspan=3>Prazo</th>
            <th scope="col" rowspan=2 *ngIf='npi.stage>=4'>Arquivos</th>
            <th scope="col" rowspan=2 *ngIf='npi.stage>=4'>Status</th>
            <th scope="col" rowspan=1 *ngIf='(npi.stage==2 || npi.stage==3) && npiComponent.canIChangeActivities'>Aplicável</th>
          </tr>
          <tr>
            <th scope=col>Período (dias)</th>
            <th class='date' scope=col>Início</th>
            <th class='date' scope=Fim>Término</th>
            <!--th *ngIf='npi.stage>=4'>
              <button class='btn btn-sm btn-light text-primary shadow-none pr-0' type=button (click)='closeAllActivities()'>
                <i class='fa fa-check pr-0 mr-0'></i>
                <i class='fa fa-check m-0 p-0' style='position: relative; left:-9px'></i>
              </button>
            </th-->
            <th *ngIf='(npi.stage==2 || npi.stage==3) && npiComponent.canIChangeActivities'>
              <div class='custom-control custom-checkbox'>
                <input type='checkbox' (click)='toggleApplyAll($event)' class='custom-control-input' id='toggle-apply-all'
                  style='font-size:30pt' [disabled]='!npiComponent.editFlag' checked=true>
                <label for='toggle-apply-all' class='custom-control-label pointer' style='position: relative; top: -16px; left:4px'></label>
              </div>
            </th>
          </tr>
        </thead>
        <tbody #tableBody id='tableBody' formArrayName='activities'>
          <tr *ngFor='let activity of activitiesFormArray.controls; let last = last; index as i;' [formGroupName]='i'
            [appActivityRow]='activity' [ngClass]='activity.get("apply").value ? "applyable" : "not-applyable"'
            [style.display]='displayActivityRow(activity)'>
            <td>
              {{ i+1 }}
            </td>
            <td>
              {{ utils.getActivity(activity.get("activity").value).label }}
            </td>
            <td [appActivityRow]='activity'>
              {{ npi.activities[i].dept }}
              <select class='custom-select' formControlName='responsible'>
                <option *ngFor='let user of users[npi.activities[i].dept]; let first=first' [selected]='first' value='{{ user._id }}'>{{ user.firstName }}
                  {{ user.lastName }}</option>
              </select>
            </td>
            <td [ngClass]='{"text-danger": activity.get("term").value < 0 }'>
              <input type='number' class='form-control center' formControlName='term' style='width: 60px' min=0 id='{{activity.get("activity").value}}_TERM'
                appBlink>
            </td>
            <td>
              <span id='{{activity.get("activity").value}}_START_DATE' appBlink>
                {{ this.utils.formatDate(activity.get('startDate').value) }}
              </span>
            </td>
            <td>
              <input type='text' class='form-control' formControlName='endDate' aria-describedby="Data final para atividade {{ npi.activities[i].activity }}"
                [ngClass]='{"is-invalid text-danger": fieldHasErrors(i+".term") || activity.get("endDate").value < activity.get("startDate").value || (last && activity.get("endDate").value > npi.inStockDate) }'
                #edp="bsDatepicker" bsDatepicker [bsConfig]='datePickerConfig[i]' placement='right' id='{{activity.get("activity").value}}_END_DATE'
                appBlink [activity]='activity' [npi]=npi [dependencies]='getControlsDependencyActivities(activity)'
                [dependents]='getControlsDependentActivities(activity)'>
            </td>
            <td *ngIf='npi.stage>=4'>
              <app-file-button [npiVersion]='npi.version' [npiNumber]='npi.number' *ngIf='utils.getActivity(activity.get("activity").value).annex' 
              [fieldControl]='activity' [fieldLabel]='activity.get("activity").value' [parent]='"activities"' 
              [npiId]='npi.id' [editFlag]='editFlag' [canEdit]='canCloseActivity(activity)'></app-file-button>
              <!--button appFileButton type='button' class="btn btn-block btn-light shadow-none m-0" (click)='openFileAction(npi.activities[i].dept)'
                [disabled]='!activity.get("apply").value'>
                <i class='fa fa-folder fa-fw' [ngClass]='activity.get("annex").value?.length? "append-icon":"upload-icon"'></i>
              </button-->
            </td>
            <td class=signature *ngIf='npi.stage>=4'>
              <button type=button class='btn btn-block btn-light text-secondary shadow-none m-0' (click)='closeActivity(activity)'
                *ngIf='!activity.get("closed").value && canCloseActivity(activity)' [disabled]='!npiComponent.editFlag || !fieldHasAnnex(activity)'
                data-toggle="tooltip" data-placement="bottom" title="Salvar anexos e concluir atividade">
                <i class='fa fa-fw fa-check'></i>
              </button>
              <span *ngIf='!activity.get("closed").value && !canCloseActivity(activity) && !canStartActivity(activity)'
              data-toggle="tooltip" data-placement="bottom" title="Aguardando atividades anteriores">
                <i class='fa fa-clock-o fa-lg text-info'></i>
              </span>
              <span *ngIf='!activity.get("closed").value && !canCloseActivity(activity) && canStartActivity(activity)'
              data-toggle="tooltip" data-placement="bottom" title="Em andamento">
                <i class='fa fa-clock-o fa-lg text-warning'></i>
              </span>
              <span *ngIf='activity.get("closed").value'>
                <i class='fa fa-check fa-sm text-success'></i>
                {{ signatures[i] }}
              </span>
            </td>
            <td *ngIf='(npi.stage==2 || npi.stage==3) && npiComponent.canIChangeActivities'>
              <div class='custom-control custom-checkbox' *ngIf='!utils.getActivity(activity.get("activity").value).required'>
                <input type='checkbox' class='custom-control-input' formControlName='apply' id='apply-{{i}}' style='font-size:30pt'>
                <label for='apply-{{i}}' class='custom-control-label pointer' style='position: relative; top: -16px; left:4px'></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-request *ngIf='npi.requests?.length' [toggleEdit]='editFlag' [npiSetter]='npi' [requestClassSetter]='"DELAYED_RELEASE"' (requestForm)='setRequestChild($event, "DELAYED_RELEASE")'></app-request>

<app-in-stock-date *ngIf='(npi.stage==2 || npi.stage==3) && npiComponent.canIChangeActivities' [inStockDate]='inStockDate' [releaseDateSetter]='releaseDate' (setDelayedStatus)='isReleaseEstimateDelayed.emit($event)'></app-in-stock-date>
