.sticky-bottom {
    position: sticky !important;
    bottom: 0;
}

.release-date {
    position: fixed;
    width: 100%;
    padding: 16px 80px;
    left: 0;
    bottom: 0;
    box-shadow: 0 5px 20px #111;
    color: white;
    background: orange;
    text-align: center;
    vertical-align: middle
}

.release-date-bak {
    position: sticky;
    width : auto;
    bottom: 32px;
    text-shadow: 1px 2px 10px #ccc; 
    height: 0
}

.signature {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.date {
    min-width: 120px;
    max-width: 120px;
}


.applyable{
    filter: opacity(1)
}

.not-applyable{
    filter: opacity(0.5);
    text-decoration: line-through
}
