.sticky-bottom {
    position: sticky !important;
    bottom: 0;
}

.release-date {
    position: sticky;
    width : auto;
    bottom: 62px;
}

.signature {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.date {
    min-width: 120px;
    max-width: 120px;
}

