.fa-file-upload {
    color: white;
    width: 16px;
    margin: 0;
    fill: rgb(30, 139, 228)
}

.upload-button{
    text-shadow: 0 1px 10px #ddd;
    color:  rgb(30, 139, 228)
}

.fa-upload {
    font-size: 14pt
}

.upload-button:enabled:hover{
    cursor: pointer;
    text-shadow: 0 1px 12px lighten($color: rgb(30, 139, 228), $amount: 25)
}

.upload-button:active{
    color: blue
}

.npi-search-icon:before {
    content: "\f002";
}

button:hover .npi-search-icon:before {
    color: blue
}

.append-icon:after {
    content: "\f07b";
}

button:enable:hover .append-icon:after {
    content: "\f07c";
    color: rgb(30, 139, 228)
}

.applyable{
    filter: opacity(1)
}

.not-applyable{
    filter: opacity(0.5);
    text-decoration: line-through
}
