<div class='container'>
  <div class='row justify-content-center'>
    <div class='col body-main'>
      <app-nav-buttons></app-nav-buttons>
      <h3>Criar NPI</h3>
      <form [formGroup]='createForm' (ngSubmit)="saveNpi(createForm.value)">
        <hr>
        <div class="form-row">
          <div class="form-group col-sm-3 col-md-2">
            <label for="number">Número</label>
            <input type="text" class="form-control" id="number" placeholder="(auto)" readonly>
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            <label for="date">Data</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="datePrepend">
                  <i class='fa fa-calendar fa-fw'></i>
                </span>
              </div>
              <input type="text" class="form-control" id="date" formControlName='date' readonly>
            </div>
          </div>
          <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <label for="npiref">NPI Ref.</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="npiRefPrepend">
                  #
                </span>
              </div>
              <input type="text" class="form-control" id="npiRef" formControlName='npiRef' [ngClass]='{"is-invalid": fieldHasErrors("cost")}'>
              <div class='invalid-feedback'>
                Defina a Npi de referência
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-3 mb-4">
            <label for="complexity">Complexidade</label>
            <select class="custom-select" id="complexity" placeholder="Complexidade" formControlName='complexity' [ngClass]='{"is-invalid": fieldHasErrors("complexity")}'>
              <option value=3> Alta </option>
              <option value=2> Média </option>
              <option value=1> Baixa </option>
            </select>
            <div class='invalid-feedback'>
              Defina a complexidade do projeto
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-4 mb-4">
            <label for="client">Cliente</label>
            <input type="text" class="form-control" id="client" placeholder="Cliente" formControlName='client' [ngClass]='{"is-invalid": fieldHasErrors("client")}'>
            <div class='invalid-feedback'>
              Defina o cliente
            </div>
          </div>
          <div class="form-group col-sm-8 mb-4">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome" formControlName='name' [ngClass]='{"is-invalid": fieldHasErrors("name")}'>
            <div class='invalid-feedback'>
              Defina o nome do projeto
            </div>
          </div>
        </div>

        <label for='entry-group'>Entrada</label>
        <div class="form-row">
          <div class="form-group col" id='entry-group'>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="pixel-npi" value='pixel' name='entry' [formControl]="createForm.controls['entry']">
              <label for="pixel-npi" class='custom-control-label'>Pixel</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="oem-npi" name='entry' value='oem' [formControl]="createForm.controls['entry']">
              <label for="oem-npi" class='custom-control-label'>O&M</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="internal-npi" name='entry' value='internal' [formControl]="createForm.controls['entry']">
              <label for="internal-npi" class='custom-control-label'>Interno</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="custom-npi" name='entry' value='custom' [formControl]="createForm.controls['entry']">
              <label for="custom-npi" class='custom-control-label'>Customização</label>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <label for='description'>
            <b>Requisitos de Funcionamento, Essenciais, de Desempenho do Produto e Análise de Riscos</b>
          </label>
          <textarea class="form-control" rows=5 formControlName='description' id='description' [ngClass]='{"is-invalid": fieldHasErrors("description")}'>
          </textarea>
          <div class='invalid-feedback'>
            Forneça os requisitos gerais do projeto
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6 mb-4" formGroupName='resources'>
            <label for="resourcesDescription">Recursos/Capacidade Fabril</label>
            <textarea class="form-control" rows=3 formControlName='description' id='resourcesDescription' [ngClass]='{"is-invalid": fieldHasErrors("resources")}'>
            </textarea>
            <div class='invalid-feedback'>
              Defina os recursos necessários
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 mb-4" formGroupName='norms'>
            <label for="normsDescription">Leis/Normas Aplicáveis</label>
            <textarea class="form-control" rows=3 formControlName='description' id='normsDescription' [ngClass]='{"is-invalid": fieldHasErrors("norms")}'>
              </textarea>
            <div class='invalid-feedback'>
              Defina as leis e/ou normas aplicáveis
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf='createForm.controls["entry"].value!="internal" &&
            createForm.controls["entry"].value!="oem"'>
          <div class='col'>
            <div class='row align-items-end'>
              <div class='col form-group mr-0 pr-0 mb-2'>
                <label for="cost">Custo</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="costPrepend">
                      R$
                    </span>
                  </div>
                  <input class='form-control' type='text' [textMask]="currencyMask" formControlName='cost' name='cost' placeholder='00,00'
                    aria-describedby="Custo" [ngClass]='{"is-invalid": fieldHasErrors("cost")}'>
                  <div class='invalid-feedback'>
                    Defina o custo do produto
                  </div>
                </div>
              </div>
              <!--div class='col col-auto form-group'>
                <label for=costAnnex class='m-0 p-0 pb-1 upload-button'>
                  <i class='fa fa-upload m-0 p-0 pr-1'></i>
                </label>
                <input type="file" name="costAnnex" ng2FileSelect hidden [uploader]="uploadService.uploader" id='costAnnex'>
                <button type="button" class="btn btn-success btn-s" (click)="uploadService.uploader.uploadAll()" [disabled]="!uploadService.uploader.getNotUploadedItems().length">
                      Upload with ng-2 file uploader
                  </button>
              </div-->
            </div>
          </div>
          <div class='col form-group'>
            <label for="price">Preço</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="pricePrepend">
                  R$
                </span>
              </div>
              <input class='form-control' type='text' [textMask]="currencyMask" formControlName='price' name='price' placeholder='00,00'
                aria-describedby="Preço" [ngClass]='{"is-invalid": fieldHasErrors("price")}'>
              <div class='invalid-feedback'>
                Defina o preço do produto
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class='col-md-3 form-group'>
            <label for="investment">Investimento</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="investmentPrepend">
                  R$
                </span>
              </div>
              <input class='form-control' type='text' [textMask]="currencyMask" formControlName='investment' name='investment' placeholder='00,00'
                aria-describedby="Investimento" [ngClass]='{"is-invalid": fieldHasErrors("investment")}'>
              <div class='invalid-feedback'>
                Defina o investimento
              </div>
            </div>
          </div>
          <div class='col-md-3 form-group' formGroupName='projectCost'>
            <label for="projectCost">Custo do Projeto</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="investmentPrepend">
                  R$
                </span>
              </div>
              <input class='form-control' type='text' [textMask]="currencyMask" formControlName='cost' name='projectCost' placeholder='00,00'
                aria-describedby="Custo do Projeto" [ngClass]='{"is-invalid": fieldHasErrors("projectCost")}'>
              <div class='invalid-feedback'>
                Defina o custo do projeto
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class='col-md-3 form-group mb-3' *ngIf='createForm.controls["entry"].value!="internal" &&
              createForm.controls["entry"].value!="oem"'>
            <label for="inStockDate">Data em Estoque</label>
            <div class="input-group">
              <input type='text' class='form-control' formControlName='inStockDate' name='inStockDate' aria-describedby="Data em Estoque"
                #dp="bsDatepicker" bsDatepicker [bsConfig]='datePickerConfig'>
              <div class="input-group-append">
                <li class="input-group-text" id="inStockDateAppend" (click)="dp.toggle()">
                  <i class='fa fa-calendar fa-fw'></i>
                </li>
              </div>
            </div>
          </div>
          <div class='col-md-6 form-group mb-3' *ngIf='createForm.controls["entry"].value=="oem"'>
            <label for="inStockDate">Data em Estoque</label>
            <div class="form-row">
              <div class="form-group col" id='inStockDate-group'>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="fixed-date" value='fixed' name='inStockDateType' formControlName="inStockDateType">
                  <label for="fixed-date" class='custom-control-label'>
                    Data fixa
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="offset-date" value='offset' name='inStockDateType' formControlName="inStockDateType">
                  <label for="offset-date" class='custom-control-label'>
                    Prazo após aprovação
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf='createForm.controls["inStockDateType"].value=="fixed"'>
              <div class="form-group col">
                <div class="input-group">
                  <input type='text' class='form-control' formControlName='inStockDate' name='inStockDate' aria-describedby="Data em Estoque"
                    #dp="bsDatepicker" bsDatepicker [bsConfig]='datePickerConfig'>
                  <div class="input-group-append">
                    <li class="input-group-text" id="inStockDateAppend" (click)="dp.toggle()">
                      <i class='fa fa-calendar fa-fw'></i>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf='createForm.controls["inStockDateType"].value=="offset"'>
              <div class="input-group col-xs-6 col-sm-3 col-md-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inStockDatePrepend">
                    Dias
                  </span>
                </div>
                <input type='number' class='form-control' formControlName='inStockDate' name='inStockDate' aria-describedby="Data em Estoque">
              </div>
            </div>
          </div>

          <div class='form-group col-md-6 mb-4'>
            <label for="fiscals">Incentivos Fiscais</label>
            <input type='text' class='form-control' formControlName='fiscals' name='fiscals' aria-describedby="Incentivos Fiscais" placeholder='Incentivos Fiscais'
              [ngClass]='{"is-invalid": fieldHasErrors("fiscals")}'>
            <div class='invalid-feedback'>
              Defina os incentivos fiscais
            </div>
          </div>

        </div>
        <div class="form-row" *ngIf='createForm.controls["entry"].value=="oem"' formArrayName='oemActivities'>
          <div class='col'>
            <div class='table-responsive'>
              <table class="table table-sm table-bordered">
                <thead class='thead-dark'>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Atividade</th>
                    <th scope="col">Responsável</th>
                    <th scope="col" class='td-date'>Prazo</th>
                    <th scope="col">Comentário</th>
                    <th scope="col">Anexos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let activity of createForm.get("oemActivities").controls; index as i' formGroupName='{{ i }}'>
                    <th scope="row">{{ i }}</th>
                    <td>{{ activity.get('title').value }}</td>
                    <td>{{ activity.get('dept').value }}</td>
                    <td>
                      <input type='text' class='form-control' formControlName='date' aria-describedby="Prazo para Atividade O&M {{ i }}" #dp="bsDatepicker"
                        bsDatepicker [bsConfig]='datePickerConfig'>
                    </td>
                    <td>
                      <textarea class="form-control" rows=1 formControlName='comment'></textarea>
                    </td>
                    <td>
                      <i class='fa fa-upload m-0 p-0 pr-1'></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-between">
          <div class='col'>
            <button type="button" class="btn btn-outline-danger shadow-none" [disabled]="sendingForm" (click)='cancelNpi()'>
              Cancelar
            </button>
          </div>
          <div class='col text-center'>
            <button type="button" class="btn btn-default btn-orange" [disabled]="!createForm.valid || sendingForm" (click)='submitToAnalisys(createForm.value)'>
              Análise Crítica
            </button>
          </div>
          <div class='col text-right'>
            <button type="submit" class="btn btn-success" [disabled]="sendingForm">
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>