<div class="modal-header">
  <h5 class="modal-title pull-left">Npi de Referência</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Escolha uma NPI:
  <div class=form-row [formGroup]='filterForm'>
    <div class="col-7">
      <input placeholder=Nome type=text class='form-control' id=name formControlName='name'>
    </div>
    <div class="col-5">
      <select type=text class='form-control' formControlName='entry' id=entry>
        <option selected [ngValue]="null">Entrada...</option>
        <option *ngFor='let entry of utils.getEntriesArray(); index as i' value='{{ entry.value }}'>{{
          entry.label }}</option>
      </select>
    </div>
  </div>
  <div class='npis-list'>
    <span (click)='selectNpi(npi)' class="list-group-item list-group-item-action npis-list-item" *ngFor='let npi of filteredData'
      id='{{npi.number}}'>
      <b>#{{ npi.number }}</b> {{ npi.name }}
      <i>({{ utils.getEntry(npi.entry)}})</i>
    </span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
  <button type="submit" class="btn btn-primary" (click)="confirm()">Ok</button>
</div>