<button *ngIf='fieldControl?.get("annex")?.value?.length' type='button' class="btn btn-block btn-light shadow-none m-0" 
(click)='openFileManager(field)' [ngClass]='{"text-primary" : uploadService.uploaders[field]}'
  [disabled]='!canEdit'>
  <i class='fa fa-folder fa-fw'></i>
</button>
<button *ngIf='canEdit && !fieldControl?.get("annex")?.value?.length' type='button' class="btn btn-block btn-light shadow-none m-0"
  (click)='openUploadModal(field)' [disabled]='!editFlag'>
  <i class='fa fa-upload fa-fw' [ngClass]='{"text-primary" : uploadService.uploaders[field]}'></i>
</button>