<div class="modal-content">
  <div class="modal-header">
    <h5 class='modal-title'>Salvando NPI</h5>
  </div>
  <div class="modal-body">
    <div *ngIf="!uploadService.isUploading && finished">
      Npi registrada com sucesso. Redirecionando...
    </div>
    <div >
      <span style='display: inline-block; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; max-width: 340px;'>
        {{ uploadService.uploadingFileItem?.file?.name }}
      </span>
      <span class='pull-right'>
        ({{ (uploadService.uploadingFileItem?.progress * uploadService.uploadingFileItem?.file?.size/1024/1024)/100 | number:'.2'
        }}/{{ uploadService.uploadingFileItem?.file?.size/1024/1024 | number:'.2' }} MB)
      </span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': this.uploadService.progress + '%' }">
        {{ this.uploadService.progress }}%
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span class='text-left float-left'> {{ uploadService.speed < 1024 ? uploadService.speed + 'kB/s' : (uploadService.speed / 1024).toFixed(1) + 'MB/s' }}</span>
    <button type="button" class="btn btn-danger" (click)="abort()" [disabled]='!this.uploadService.isUploading'>
      <i class='fa fa-times'></i>
      Cancelar
    </button>
  </div>
</div>