.pixel-background {
    position: fixed;
    bottom: 120px
}

.e-npi-logo {
    filter: drop-shadow(5px 5px 15px #111);
}

.form-header {
    background-color:gray;
    padding-top: 10%;
}

.login-btn {
    color: white; 
    background-color: orange; 
    font-size: 16px;
}

.login-btn:hover {
    background-color: darkorange
}

.form-header{
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    color:#fff;
    text-align: center;
    margin: -3.13rem 2rem 3rem 2rem;
    padding: 1rem 0 0.5rem;
    -webkit-border-radius:.125rem;
    border-radius: 10px
}

.card {
    width: 24rem; 
}

