<div class='container p-5'>
  <app-nav-buttons></app-nav-buttons>
  <h3>Meu Perfil</h3>
  <form [formGroup]='profileForm' (ngSubmit)="updateUser(profileForm.value)" novalidate>
    <div class="form-row">
      <hr style='width: 100%; color: lightgray'>
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Nome</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrependFirstName">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control" id="validationCustom01" placeholder="Nome" aria-describedby="inputGroupPrependFirstName"
            formControlName="firstName" [ngClass]='{"is-invalid": fieldHasErrors("firstName")}'>
          <div class="invalid-feedback">
            Digite um nome
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-group mb-2">
          <label for="validationCustom02">Sobrenome</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="Sobrenome" formControlName="lastName"
            [ngClass]='{"is-invalid": fieldHasErrors("lastName")}'>
          <div class="invalid-feedback">
            Digite um sobrenome
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="validationCustomEmail">E-Mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="text" class="form-control" id="email" placeholder="E-mail" formControlName="email" [ngClass]='{"is-invalid": fieldHasErrors("email")}'>
          <div class="invalid-feedback">
            Digite um e-mail válido
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Telefone</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrependPhone">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <input type="text" class="form-control" id="validationCustom03" placeholder="Telefone" aria-describedby="inputGroupPrepend"
            formControlName="phone" [ngClass]='{"is-invalid": fieldHasErrors("phone")}'>
          <div class="invalid-feedback">
            Digite um telefone válido
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-group mb-2">
          <label for="validationCustom04">Departamento</label>
          <select class="form-control" id="validationCustom04" placeholder="Departamento" [formControl]="profileForm.controls['department']"
            [ngClass]='{"is-invalid": fieldHasErrors("department")}'>
            <option *ngFor="let dept of departments" value='{{ dept.value }}'>{{ dept.label }}</option>
          </select>
          <div class="invalid-feedback">
            Escolha um departamento
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col mb-3">
        <div class="custom-control custom-checkbox">
          <input type='checkbox' class='custom-control-input' id='notify' formControlName='notify'>
          <label class='custom-control-label' for='notify'>
            Receber notificações
            <div class='col-xs-11 radio-level-legend'>
              E-mails de notificação são enviados aos usuários com algum nível de permissão em
              relação à NPI que sofrer alguma alteração. Você também será lembrado a cada três
              dias das NPI's que dependam da sua aprovação na fase de análise crítica.
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label>Nível de Permissão </label>
        <div class="form-group" [ngSwitch]='user?.level'>

          <!-- Básico -->
          <div *ngSwitchCase='0'>
            Básico
            <br>
            <div class='col-xs-11 radio-level-legend'>
              Usuário padrão, tem acesso de leitura em todo o sistema e pode criar NPI's. Pode anexar
              arquivos em
              atividades desde que esteja designado a estas.
            </div>
          </div>

          <!-- Gestor -->
          <div *ngSwitchCase='1'>
            Gestor<br>
            <div class='col-xs-11 radio-level-legend'>
              Gestor de um departamento, é responsável por aprovar/reprovar um projeto na análise crítica com
              respeito a análise de seu departamento. Designa o responsável por uma atividade da fase de
              desenvolvimento, bem como a data de entrega, e pode concluir a atividade e o projeto.
            </div>
          </div>

          <!-- Master -->
          <div *ngSwitchCase='2'>
            Master<br>
            <div class='col-xs-11 radio-level-legend'>
              Usuário privilegiado, pode aprovar um projeto na análise crítica independentemente das decisões
              dos gestores, pode realizar qualquer atividade da fase de desenvolvimento e concluir o projeto.
            </div>
          </div>

          <!-- Administrador-->
          <div *ngSwitchCase='3'>
            Administrador<br>
            <div class='col-xs-11 radio-level-legend'>
              Usuário com nível de permissão máximo, pode editar qualquer campo. Deve ser usado somente para
              propósito de manutenção do sistema. Pode criar/editar/excluir usuários.
            </div>
          </div>
        </div>
      </div>
      <div class='alert' *ngIf='profileResponse' class="{'alert-success' : profileSent,
                  'alert-danger' : !profileSent }">
        {{ profileResponse }}
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <button type="submit" class="btn btn-success" [disabled]="sendingProfile || profileForm.disabled">
        Salvar Alterações
      </button>
    </div>
  </form>
  <hr>
  <h4>Alterar Senha</h4>
  <form [formGroup]='passwordForm' (ngSubmit)="changePassword(passwordForm.value)" novalidate>
    <div class='alert alert-dismissible' *ngIf='passwordResponse' [ngClass]="{
            'alert-success' : passwordSent,
            'alert-danger' : !passwordSent 
            }">
      {{ passwordResponse }}
      <button type="button" class="close" (click)="passwordResponse=null" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="password">Senha Atual</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrependPassword">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <input type="password" class="form-control" id="password" placeholder="Senha" aria-describedby="inputGroupPrependPassword"
            formControlName='password'>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <div class='form-group mb-3'>
          <label for="newPassword">Nova Senha</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrependNewPassword">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input type="password" class="form-control" id="newPassword" placeholder="Senha" aria-describedby="inputGroupPrependNewPassword"
              formControlName='newPassword'>
            <div class="invalid-feedback">
              Digite uma senha com 4 caracteres ou mais
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class='form-group mb-3'>
          <label for="confPassword">Confirmação de Senha</label>
          <input type="password" class="form-control" id="confPassword" placeholder="Confirmação de senha"
            [formControl]="passwordForm.controls['confPassword']" name='confPassword' [ngClass]='{"is-invalid": fieldHasErrors("confPassword")}'>
          <div class='valid-feedback'>
            <i class="fa fa-check"></i>
          </div>
          <div class="invalid-feedback">
            Senhas não conferem
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <button type="submit" class="btn btn-success" [disabled]="!passwordForm.valid">Alterar Senha</button>
    </div>
  </form>
</div>