<div class='body-frame col-xs-12 col-sm-11 col-md-10 col-lg-8'>
    <h3>
      Esqueci Minha Senha
    </h3>
    <hr>
    <div class='alert' *ngIf="tokenResponse && tokenSent" [ngClass]="{
      'alert-success' : tokenSent,
      'alert-danger' : !tokenSent
     }">
      {{ tokenResponse }}</div>
    <form [formGroup]='emailForm' (ngSubmit)='sendResetToken(emailForm.value)'
    novalidate>
      <div class="col-md-12 mb-3">
        <label for="email">
          E-mail
        </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrependEmail">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input type="email" class="form-control" id="email" placeholder="E-mail" 
            aria-describedby="inputGroupPrependEmail" formControlName='email' 
            [ngClass]="{'is-invalid': !isFieldValid('email')}" autofocus>
        </div>
          <div class='invalid-feedback'>
            Não é um e-mail válido
        </div>
       </div>
       <hr>
       <div class="row align-items-center justify-content-center">
          <button type="submit" class="btn btn-success" *ngIf='!sendingToken'
          [disabled]="!emailForm.valid || sendingToken ">
            {{ actionLabel }} 
          </button>
          <i class='fa fa-circle-o-notch fa-spin fa-2x text-secondary'
            *ngIf='sendingToken'></i>
        </div>
      </form>
  </div>