<div class='sticky-top text-right'>
    <div class='btn-group shadow rounded'>
      <button (click)='npiComponent.refresh()' class='btn btn-light text-primary' data-toggle="tooltip" data-placement="top" title="Atualizar">
        <i class='fa fa-refresh fa-fw'></i>
      </button>
      <button (click)='npiComponent.reset()' class='btn btn-default text-secondary' *ngIf='npi.stage >= 2 && npi.stage <= 4 && npiComponent.editFlag'
        data-toggle="tooltip" data-placement="top" title="Desfazer alterações">
        <i class='fa fa-undo fa-fw'></i>
      </button>
      <!--button (click)='cancelNpi()' class='btn btn-danger' *ngIf='(user.level > 1 || amITheOwner()) && npi.stage == 2'
        data-toggle="tooltip" data-placement="top" title="Cancelar NPI">
        <i class='fa fa-times fa-fw'></i>
      </button-->
      <button (click)='npiComponent.cancelNpi()' class='btn btn-danger' *ngIf='npi.stage == 1 && npiComponent.editFlag && npiComponent.amITheOwner()'
        data-toggle="tooltip" data-placement="top" title="Remover NPI">
        <i class='fa fa-trash fa-fw'></i>
      </button>
      <button (click)="npiComponent.toggleEdit()" class='btn btn-info' *ngIf='npiComponent.canIEdit()' data-toggle="tooltip"
        data-placement="top" title="Editar NPI">
        <i class='fa fa-pencil fa-fw'></i>
      </button>
      <button (click)="npiComponent.toggleEdit()" class='btn btn-secondary' *ngIf='npiComponent.editFlag' data-toggle="tooltip" data-placement="top"
        title="Visualizar NPI">
        <i class='fa fa-eye fa-fw'></i>
      </button>
      <button (click)='npiComponent.submitToAnalysis(npiComponent.npiForm.value)' class='btn btn-warning text-white' *ngIf='npiComponent.editFlag && npi.stage == 1'
        data-toggle="tooltip" data-placement="top" title="Submeter NPI para análise crítica">
        <i class='fa fa-check-circle-o fa-fw'></i>
      </button>
      <button (click)='npiComponent.saveNpi(npiComponent.npiForm.value)' class='btn btn-success' *ngIf='npiComponent.editFlag && npi.stage < 5 && !npiComponent.isFinalApproval()'
        data-toggle="tooltip" data-placement="top" title="Salvar alterações">
        <i class='fa fa-save fa-fw'></i>
      </button>
      <button (click)='npiComponent.promoteNpi(npiComponent.npiForm.value)' class='btn btn-warning text-light' *ngIf='npi.stage == 2 && !npiComponent.newFormVersionFlag && npiComponent.isFinalApproval() && !npi.isApproved()'
        data-toggle="tooltip" data-placement="top" title="Concluir análise crítica">
        <i class='fa fa-check-circle-o fa-fw'></i>
      </button>
      <button (click)='npiComponent.saveNpi(npiComponent.npiForm.value)' class='btn btn-primary' *ngIf='npiComponent.editFlag && (npi.stage == 2 || npi.stage == 3) && !npiComponent.newFormVersionFlag && npi.isApproved() && !npiComponent.isReleaseEstimateDelayed'
        data-toggle="tooltip" data-placement="top" title="Avançar para desenvolvimento">
        <i class='fa fa-arrow-right fa-fw'></i>
      </button>
      <button (click)='npiComponent.saveNpi(npiComponent.npiForm.value)' class='btn btn-primary' *ngIf='npiComponent.editFlag && (npi.stage == 2 || npi.stage == 3) && !npiComponent.newFormVersionFlag && npi.isApproved() && npiComponent.isReleaseEstimateDelayed'
        data-toggle="tooltip" data-placement="top" disabled title="Recurso temporariamente indisponível, aguarde próxima atualização">
        <!--title="Avançar para desenvolvimento com data de lançamento em atraso"-->
        <i class='fa fa-warning fa-fw'></i>
      </button>
      <button (click)='npiComponent.finalizeNpi()' class='btn btn-primary text-white' *ngIf='npiComponent.editFlag && npi.stage == 4 && npiComponent.canCloseNpi()'
        data-toggle="tooltip" data-placement="top" title="Finalizar NPI">
        <i class='fa fa-check fa-fw'></i>
      </button>
      <button [routerLink]='["migrate"]' class='btn btn-info' *ngIf='npiComponent.user.level==3' data-toggle="tooltip"
        data-placement="top" title="Editar na Ferramanta de Migração">
        <i class='fa fa-exchange fa-fw'></i>
      </button>
    </div>
  </div>