.pointer * {
    cursor: pointer;
}

.row {
    margin: 0 0;
    padding-right: 0;
    transition: all 0.2s
}

.btn {
    margin: 0;
}

.row:hover {
    background-color: #f6f6f6
}

.update-button {
    width: 100%
}

.update-button .fa-file {
    position: relative;
    font-size: 100%
}

.update-button .fa-arrow-up {
    position: absolute;
    bottom: 3px;
    left: 2px;
    color: white;
    font-size: 9pt
}

