.radio-container {
    display: inline;
    position: relative;
    font-size: 32px;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input{
    opacity: 0;
    display: none;
}

.radio-container input:disabled{
    opacity: 0;
    cursor: default;
    display: none;
}

.radio-approval {
    display: inherit;
    position: inherit;
    color: #bbb;
    vertical-align: middle;
}

.radio-accept:after {
    content: '\f05d';
    margin: 4px
}

.radio-deny:after {
    content: "\f05c";
    margin: 4px
}

.radio-container:hover input:enabled ~ 
.radio-approval:after {
    cursor: pointer;
    color: #666
}

.radio-container input:disabled ~
.radio-deny:after {
    cursor: default;
}

.radio-container input:disabled ~
.radio-accept:after {
    cursor: default;
}

.radio-container:hover input:disabled ~ 
.radio-approval:after {
    color: currentColor
}

.radio-container input:enabled ~
.radio-deny:after {
    display: inherit;
}

.radio-container input:enabled ~
.radio-accept:after {
    display: inherit;
}

.radio-container input:checked ~
.radio-accept:after {
    display: inherit;
    color: green;
}

.radio-container:hover input:checked:disabled ~ 
.radio-accept:after {
    color: green
}

.radio-container input:checked ~
.radio-deny:after {
    display: inherit;
    color: red;
}

.radio-container:hover input:checked:disabled ~ 
.radio-deny:after {
    color: red
}

.signature {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

.final-signature {
    font-size: 14px; 
    line-height: 20px !important;
    color: gray;
}