
.cdk-global-overlay-container {
  z-index: 1041 !important;
}    
  .file-or-folder {
    padding: 8px;
    overflow: hidden;
  }
  
  .file-or-folder-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
  }

  .file-label {
    overflow: hidden;
    text-align: center;
    width: 50px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .bg-light-gray{
    background-color: #eee
  }
