
.cdk-global-overlay-container {
  z-index: 1041 !important;
}    
  .file-or-folder {
    padding: 8px;
    width: 107px;
    overflow: visible;
  }
  .file-or-folder:hover {
    z-index: 10
  }
  .file-or-folder:hover .file-label {
    white-space: normal;
    overflow: visible;
    cursor: pointer;
  }
  
  .file-or-folder-icon {
    margin: 6px;
    text-align: center;
  }

  .file-label {
    text-align: center;
    height: 20px;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .bg-light-gray{
    background-color: #eee
  }
