<div class="container-fluid">
  <div class='row'>
    <div class='file-or-folder text-center' *ngFor="let element of files; index as i" [matMenuTriggerFor]="rootMenu"
      [matMenuTriggerData]="{element: element.file}" #menuTrigger="matMenuTrigger">
      <div (click)="open($event, element.file)" (contextmenu)="openMenu($event, menuTrigger)" class='pointer label'>
        <div class=position-relative>
          <div class="fa fa-3x file-or-folder-icon" [ngClass]='iconFor(element.file)'></div>
          <div *ngIf='showSelect' (click)='markForRemoval(element)'
            class="custom-control custom-checkbox custom-control-inline pointer checkbox">
            <input type="checkbox" class="custom-control-input" id=checkbox-{{i}} [ngModel]='element.remove' >
            <label class='custom-control-label pointer' for=checkbox-{{i}}></label>
          </div>
        </div>
        <div class='file-label'>{{ element.file.name }}</div>
        <small class='text-secondary size-label' *ngIf='!element.file.isFolder()'>{{ element.file.sizeString }}</small>
      </div>
    </div>

    <div class='file-or-folder text-center' *ngFor="let element of phantomFiles">
      <div class='label'>
        <div class=position-relative>
          <div class="fa fa-3x file-or-folder-icon phantom" [ngClass]='iconFor(element)'>
          </div>
          <div class='fa fa-cloud-upload upload text-primary'></div>
        </div>
        <div class='file-label phantom'>{{ element.name }}</div>
        <small class='text-secondary size-label phantom' *ngIf='!element.isFolder()'>{{ element.sizeString }}</small>
      </div>
    </div>

  </div>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}"
      [disabled]='!((canNavigateUp || availableFolders(element)) && editFlag)'>
      <mat-icon>open_with</mat-icon>
      <span>Mover Para...</span>
    </button>
    <button mat-menu-item (click)="openPreview(element)" *ngIf='!element.isFolder()'>
      <mat-icon>remove_red_eye</mat-icon>
      <span>Preview</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)" [disabled]='!editFlag'>
      <mat-icon>edit</mat-icon>
      <span>Renomear</span>
    </button>
    <button mat-menu-item (click)="downloadElement(element)">
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)" [disabled]='!editFlag'>
      <mat-icon>delete</mat-icon>
      <span>Remover</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <button *ngIf="canNavigateUp" mat-menu-item (click)="moveToParent(self)">..</button>
    <ng-container *ngFor="let folder of availableFolders(self)">
      <button mat-menu-item (click)="moveElement(self, folder)">{{folder.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>