<div class="container-fluid">
  <div class='row'>
    <div class='file-or-folder text-center' *ngFor="let element of files" [matMenuTriggerFor]="rootMenu"
      [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger">
      <div (click)="open($event, element)" (contextmenu)="openMenu($event, menuTrigger)" class='pointer label'>
        <div class="fa fa-3x file-or-folder-icon" [ngClass]='iconFor(element)'></div>
        <div class='file-label'>{{element.name}}</div>
        <small class='text-secondary size-label' *ngIf='!element.isFolder()'>{{ element.sizeString }}</small>
      </div>
    </div>
  </div>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}"
    [disabled]='!canNavigateUp && !availableFolders(element)'>
      <mat-icon>open_with</mat-icon>
      <span>Mover Para...</span>
    </button>
    <button mat-menu-item (click)="openPreview(element)" *ngIf='!element.isFolder()'>
      <mat-icon>remove_red_eye</mat-icon>
      <span>Preview</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>edit</mat-icon>
      <span>Renomear</span>
    </button>
    <button mat-menu-item (click)="downloadElement(element)">
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon>delete</mat-icon>
      <span>Remover</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <button *ngIf="canNavigateUp" mat-menu-item (click)="moveToParent(self)">..</button>
    <ng-container *ngFor="let folder of availableFolders(self)">
      <button mat-menu-item (click)="moveElement(self, folder)">{{folder.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>