.user-delete {
    color: red;
    font-size: 28px;
    margin: 0
}
.user-edit {
    color: royalblue;
    font-size: 30px;
    margin: 0 6px
}
.user {
    vertical-align: center;
}
.user:hover {
    cursor: pointer;
}
.user-delete:hover{
    color: darkred;
}
.user-edit:hover{
    color: midnightblue;
}

.radio-level-legend {
    font-size: 12px; 
    line-height: 12px;
    color: gray;
}

