<div class='container'>
  <app-nav-buttons></app-nav-buttons>
  <div class='row align-items-center'>
    <div class='float-left'>
      <span>
        <h3>Detalhes do Usuário</h3>
      </span>
    </div>
    <div class='ml-auto'>
      <div class="btn-group" role="group">
        <button type="button" class='btn btn-orange btn-outline' (click)='reSendRegisterToken()' *ngIf='userLevel>1 && user.status=="pending"'>
          <i class='fa fa-envelope'></i>
          Reenviar e-mail de cadastro
        </button>
        <button type="button" class='btn' (click)='editUser()' data-toggle="tooltip" data-placement="top"
          title='Editar detalhes' *ngIf='userLevel>=3' [ngClass]='edit ? "btn-secondary" :"btn-info"'>
          <span class='fa fa-fw' [ngClass]='edit ? "fa-eye" : "fa-pencil"'></span>
        </button>
        <button type="button" class='btn btn-danger' (click)='deleteUser()' data-toggle="tooltip" data-placement="top"
          title='Excluir usuário' *ngIf='userLevel>=3'>
          <span class='fa fa-trash fa-fw'></span>
        </button>
      </div>
    </div>
    <div class='float-left col-12' *ngIf='userResponse'>
      <div class='alert' [ngClass]="{'alert-success' : userSent,
              'alert-danger' : !userSent }">
        {{ userResponse }}
      </div>
    </div>
    <hr class='float-left col-12'>
    <div *ngIf='!edit' class='form-row' float-left style='width: 100%'>
      <div class='form-row float-left' style='width: 100%; margin:0'>
        <div class='col-10 float-left'>
          <h4>
            {{ user.firstName }} {{ user.lastName }}</h4>
        </div>
      </div>
      <div class='form-row float-left' style='width: 100%; margin:0'>
        <div class='col-xs-6 col-sm-4'>
          <b>E-mail: </b>
        </div>
        <div class='col-xs-5 col-sm-6 float-left' style='margin: 0'>
          {{ user.email }}
        </div>
      </div>
      <div class='form-row' style='width: 100%; margin:0'>
        <div class='col-xs-6 col-sm-4'>
          <b>Departamento: </b>
        </div>
        <div class='col-xs-5 col-sm-6 float-left' style='margin: 0'>
          {{ utils.getDepartment(user.department)?.label }}
        </div>
      </div>
      <div class='form-row' style='width: 100%; margin:0'>
        <div class='col-xs-6 col-sm-4'>
          <b>Telefone: </b>
        </div>
        <div class='col-xs-5 col-sm-6 float-left' style='margin: 0'>
          {{ user.phone }}
        </div>
      </div>
      <div class='form-row' style='width: 100%; margin:0'>
        <div class='col-xs-6 col-sm-4'>
          <b>Nível de Permissão: </b>
        </div>
        <div class='col-xs-5 col-sm-6 float-left' style='margin: 0'>
          {{ user.level == 0 ? 'Básico': user.level == 1 ? 'Gestor': user.level == 2 ? 'Master':user.level == 3 ?
          'Administrador':'' }}
        </div>
      </div>
      <div class='form-row' style='width: 100%; margin:0'>
        <div class='col-xs-6 col-sm-4'>
          <b>Criado em: </b>
        </div>
        <div class='col-xs-5 col-sm-6 float-left' style='margin: 0'>
          {{ user.createdString }}
        </div>
      </div>
    </div>
    <div *ngIf='edit' style='width:100%' class='form-row'>
      <form [formGroup]='userForm' (ngSubmit)="updateUser(userForm.value)">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Nome</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrependFirstName">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control has-error" id="validationCustom01" placeholder="Nome"
                aria-describedby="inputGroupPrependFirstName" [formControl]="userForm.controls['firstName']">
            </div>
            <div [ngClass]="{
            'invalid-feedback':userForm.controls['firstName'].invalid
          }"
              [ngStyle]="{
            'display' : ( (userForm.controls['firstName'].touched &&
            !userForm.controls['firstName'].pristine &&
            userForm.controls['firstName'].invalid) ? 'block' : 'none' )
          }">
              Digite um nome
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom02">Sobrenome</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Sobrenome" [formControl]="userForm.controls['lastName']">
            <div [ngClass]="{
            'invalid-feedback':userForm.controls['lastName'].invalid
          }"
              [ngStyle]="{
            'display' : ( (userForm.controls['lastName'].touched &&
            !userForm.controls['lastName'].pristine &&
            userForm.controls['lastName'].invalid) ? 'block' : 'none' )
          }">
              Digite um sobrenome
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="validationCustomEmail">E-Mail</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input type="text" class="form-control" id="validationCustomEmail" placeholder="E-mail" aria-describedby="inputGroupPrepend"
                [formControl]="userForm.controls['email']">
              <div [ngClass]="{
                  'invalid-feedback':userForm.controls['email'].invalid
                }"
                [ngStyle]="{
                  'display' : ( (userForm.controls['email'].touched &&
                  !userForm.controls['email'].pristine &&
                  userForm.controls['email'].invalid) ? 'block' : 'none' )
                }">
                Digite um e-mail válido
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Telefone</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrependPhone">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="validationCustom03" placeholder="Telefone" aria-describedby="inputGroupPrepend"
                [formControl]="userForm.controls['phone']">

              <div [ngStyle]="{
              'display' : ( (userForm.controls['phone'].touched &&
              !userForm.controls['phone'].pristine &&
              userForm.controls['phone'].invalid) ? 'block' : 'none' )
            }">
                Digite um telefone válido
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom04">Departamento</label>
            <select class="form-control" id="validationCustom04" [formControl]="userForm.controls['department']">
              <option *ngFor="let dept of departments" value='{{ dept.value }}' [selected]='dept==utils.getDepartment(user.department)'>
                {{ dept.label }}
              </option>
            </select>
            <div [ngStyle]="{
              'display' : ( (userForm.controls['department'].touched &&
              !userForm.controls['department'].pristine &&
              userForm.controls['department'].invalid) ? 'block' : 'none' )
            }">
              Escolha um departamento
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="validationCustom05">Nível de Permissão</label>

            <div class="form-group">
              <div class='row'>

                <!-- Básico -->
                <div class='col-3'>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="basic" name="level" value='0' [formControl]="userForm.controls['level']">
                    <label class="custom-control-label" for="basic">
                      Básico<br>
                      <div class='col-xs-11 radio-level-legend'>
                        Usuário padrão, tem acesso de leitura em todo o sistema e pode criar NPI's. Pode anexar
                        arquivos em
                        atividades desde que esteja designado a estas.
                      </div>
                    </label>
                  </div>
                </div>

                <!-- Gestor -->
                <div class='col-3'>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="level" id='manager' [formControl]="userForm.controls['level']"
                      value='1'>
                    <label class="custom-control-label" for="manager">
                      Gestor<br>
                      <div class='col-xs-11 radio-level-legend'>
                        Gestor de um departamento, é responsável por aprovar/reprovar um projeto na análise crítica com
                        respeito a análise de seu departamento. Designa o responsável por uma atividade da fase de
                        desenvolvimento, bem como a data de entrega, e pode concluir a atividade e o projeto.
                      </div>
                    </label>
                  </div>
                </div>

                <!-- Master -->
                <div class='col-3'>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="level" value='2' id='master' [formControl]="userForm.controls['level']">
                    <label class="custom-control-label" for="master">
                      Master<br>
                      <div class='col-xs-11 radio-level-legend'>
                        Usuário privilegiado, pode aprovar um projeto na análise crítica independentemente das decisões
                        dos gestores, pode realizar qualquer atividade da fase de desenvolvimento e concluir o projeto.
                      </div>
                    </label>
                  </div>
                </div>

                <!-- Administrador-->
                <div class='col-3'>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="admin" name="level" value='3' [formControl]="userForm.controls['level']">
                    <label class="custom-control-label" for="admin">
                      Administrador<br>
                      <div class='col-xs-11 radio-level-legend'>
                        Usuário com nível de permissão máximo, pode editar qualquer campo. Deve ser usado somente para
                        propósito de manutenção do sistema. Pode criar/editar/excluir usuários.
                      </div>
                    </label>
                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
        <div class="row align-items-center justify-content-center">
          <button type="submit" class="btn btn-success" [disabled]="!userForm.valid || sendingUser">
            Salvar Alterações</button>
        </div>
      </form>
    </div>
  </div>
</div>