<div class='container'>
  <div class='row justify-content-center'>
    <div class='col body-main'>
      <app-nav-buttons></app-nav-buttons>
      <div class='row justify-content-left pb-0'>
        <div class='col'>
          <div class='row justify-content-left pb-0 align-items-center'>
            <h3 class='col-auto mb-0 pr-0'>
                  NPI #{{ npi.number }} - 
                <span (click)='toggleTitleEdit($event)'
                  *ngIf='!titleEdit'>
                  {{ npi.name }}
                </span>
            </h3>
            <div class="col input-group input-group-lg"
            [style.display]='titleEdit?"flex":"none"'>
              <input type=text class='form-control' value='{{ npi.name }}'
              (keyup)="changeTitle($event)" autofocus id='title'>
            </div>
            <div class='col-auto mt-1 align-self-center'>
              <span class='badge mt-1 col-auto' [ngClass]='{
                "badge-success" : npi.entry=="pixel",
                "badge-purple" : npi.entry=="oem",
                "badge-secondary" : npi.entry=="internal",
                "badge-info" : npi.entry=="custom"
                }'>
                {{ npi.entryLabel }}
              </span>
            </div>
            <div class='w-100'></div>
            <small class='col mb-0 mt-0'>
              <a routerLink='/users/{{ authorId }}'>
                {{ authorName }}</a>, {{ npi.createdString }}
            </small>
          </div>
        </div>
        <div class='col-auto pl-0 ml-0'>
          <div class='row justify-content-left pb-0'>
            <div class='col text-right' *ngIf='route.firstChild.snapshot.routeConfig.path==""'>
              <a routerLink='edit' class='text-info'>
                <i class='fa fa-pencil fa-2x' style='text-shadow: 1px 3px 10px #ccc'></i>
              </a>
            </div>
            <div class='col text-right' *ngIf='route.firstChild.snapshot.routeConfig.path=="edit"'>
              <a routerLink='/npi/{{ npi.number }}/' class='text-info'>
                <i class='fa fa-search fa-2x' style='text-shadow: 1px 3px 10px #ccc'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
