/* You can add global styles to this file, and also import other style files */
body {
    background: url('./assets/gray_noise.jpg');
    background-attachment: fixed;
    padding-bottom: 60px
}

.body-frame {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding : 40px;
    border-radius: 2px;
    box-shadow: 0px 1px 10px #222;
}
.body-home {
    margin-top: 1px;
    padding : 40px;
    background-color : white;
    border-radius : 2px;
    box-shadow: 0px 1px 10px #222;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.btn {
    box-shadow: 0 1px 10px #999;
    padding-bottom: 4px;
}

.btn-orange {
    color: white;
    background-color: darkorange
}

.btn-orange:hover {
    background-color: darken($color: darkorange, $amount: 5)
}

.alert-space {
    min-height: 0px;
    z-index: 9;
}

.body-main {
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    padding : 40px;
    background-color : white;
    border-radius : 2px;
    box-shadow: 0px 1px 10px #222;
}

.invalid-feedback{
    height: 0;
    margin: 0;
    padding: 0;
}

.badge-purple {
    background-color: purple;
    color: white
}

.radio-level-legend {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

td, th {
    text-align: center;
    vertical-align: middle
}

.td-date {
    width: 120px;
}