/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.cdk-global-overlay-container {
    z-index: 1000 !important;
}

.modal-backdrop {
    z-index: 100;
}

.modal {
  z-index: 200;
}

body {
    background: url('./assets/gray_noise.jpg');
    background-attachment: fixed;
    padding-bottom: 60px
}

app-create .container,
app-migration-tool .container,
app-migration-edit .container,
app-register .container,
app-npi .container, 
app-users .container,
app-user .container,
app-profile .container,
app-home .container {
    background: white;
    padding: 40px
}

.body-login {
    background: url('./assets/gray_noise.jpg');
    background-attachment: fixed;
    padding-bottom: 60px
}

.body-frame {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding : 40px;
    border-radius: 2px;
}
.body-home {
    margin-top: 1px;
    padding : 40px;
    background-color : white;
    border-radius : 2px;
}

.pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.btn-orange {
    color: white;
    background-color: darkorange
}

.btn-orange:hover {
    background-color: darken($color: darkorange, $amount: 5)
}

.alert-space {
    height: 0px;
    z-index: 9;
}

.body-main {
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    padding : 40px;
    background-color : white;
    border-radius : 2px;
}

.invalid-feedback{
    height: 0;
    margin: 0;
    padding: 0;
    //line-height: 12px;
}

.badge-purple {
    background-color: purple;
    color: white
}

.text-purple {
    color: purple
}

.text-light-purple {
    color: #ece
}

.text-gray {
    color: #ccc
}

.text-orange {
    color: orange
}

.radio-level-legend {
    font-size: 12px; 
    line-height: 14px;
    color: gray;
}

td, th {
    text-align: center;
    vertical-align: middle !important;
    padding: auto
}

.td-date {
    width: 120px;
}

.btn-default{
    background-color: #eee
}

.btn-default:hover{
    background-color: #ddd
}

.strike{
    text-decoration: line-through
}

.btn-group .btn{
    box-shadow: none
}
 
.btn-outline-orange {
   color: orange;
   background-color: transparent;
   background-image: none;
   border-color: orange;
 }
 
 .btn-outline-orange:hover {
   color: #fff;
   background-color: orange;
   border-color: orange;
 }
 
 .btn-outline-orange:focus, .btn-outline-orange.focus {
   box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
 }
 
 .btn-outline-orange.disabled, .btn-outline-orange:disabled {
   color: orange;
   background-color: transparent;
 }
 
 .btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
 .show > .btn-outline-orange.dropdown-toggle {
   color: #fff;
   background-color: orange;
   border-color: orange;
 }
 
.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
 .show > .btn-outline-orange.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
 }

.upload-modal {
    max-height: calc(100vh - 200px) !important
}

 .vertically-centered{
    width: 250px;
    top: calc(50vh - 100px) !important
  }
  
  .preview-modal{
      text-align: center !important;
      max-width: 60%;
  }

.fa-file-upload {
    color: white;
    width: 16px;
    margin: 0;
    fill: blue
}

.upload-button{
    text-shadow: 0 1px 10px #ddd;
    color: slateblue;
}

.fa-upload {
    font-size: 14pt
}

.upload-button:hover{
    cursor: pointer;
    text-shadow: 0 1px 12px lighten($color: slateblue, $amount: 25)
}

.upload-button:active{
    color: blue
}

.npi-search-icon:before {
    content: "\f002";
}

button:enabled:hover .npi-search-icon:before {
    color: blue
}

.append-icon:after {
    content: "\f07b";
}

.upload-icon:after {
    content: "\f093";
}

button:hover:enabled .append-icon:after {
    content: "\f07c";
}

button:disabled {
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    opacity: 1
}

button:disabled * {
    color: lightgray
}