.btn-user {
    margin: 6px;
    box-shadow: 0px 1px 10px #111
}

.alert-space {
    min-height: 100px;
    transition: width 2s linear 1s;
}

.btn-create {
    box-shadow: 0 5px 20px #ccc;
    background-color: #ff6500;
    color: white;
    border-radius : 15px;
    width: 30px;
    height: 30px;
}

.btn-create:hover {
    box-shadow: 0 5px 20px #bbb;
    background-color: #ff5500;
    cursor: pointer;
}

.refresh {
    color: #ccc;
    border-color: #eee;
    text-shadow: 0 2px 10px #eee
}
.refresh:hover {
    color: blue;
    cursor : pointer;
    text-shadow: 0 2px 10px #ccc
}

.circle {
    border-radius: 20px;
    margin: 0;
    padding: 0;
    height: 40px;
}

.text-shadow{
    text-shadow: 2px 4px 7px #ddd
}

.npi:hover {
    background-color: #eee;
}

.npi:hover .action-btns {
    visibility: visible !important;
}

.npi .action-btns {
    visibility: hidden !important;
}

.sort-btns {
    width: 12px;
}

.sort-btn:hover {
    cursor: pointer;
}

.sort-btn {
    height: 10px;
    width: 32px;
}
.sort-up {
    position: relative;
    top: 2px;
    vertical-align: middle !important;
    z-index: 1 !important;
    overflow: hidden;
    margin: 0;
    padding: 0
}
.sort-down {
    display: block;
    line-height: 10px;
    z-index: -1 !important;
    overflow: hidden;
    margin: 0;
    padding: 0
}