.body-home {
    margin-top: 1px;
    padding : 40px;
    background-color : white;
    border-radius : 2px;
    box-shadow: 0px 1px 10px #222;
}

.btn-user {
    margin: 6px;
    box-shadow: 0px 1px 10px #111
}

.alert-space {
    min-height: 100px;
    transition: width 2s linear 1s;
}

.npi:hover {
    background-color: #ddd
}
