.btn-user {
    margin: 6px;
    box-shadow: 0px 1px 10px #111
}

.alert-space {
    min-height: 100px;
    transition: width 2s linear 1s;
}

.npi:hover {
    background-color: #eee;
}

.btn-orange {
    box-shadow: 0 5px 20px #ccc;
    background-color: #ff8000;
    border-color: #ff8000;
    color: white
}

.btn-orange:hover {
    box-shadow: 0 5px 20px #bbb;
    background-color: #ff6500;
}

.refresh {
    color: #ccc;
    border-color: #eee;
    text-shadow: 0 2px 10px #eee
}
.refresh:hover {
    color: blue;
    cursor : pointer;
    text-shadow: 0 2px 10px #ccc
}