<div class="body-frame col-sm-10 col-md-9 col-lg-6">
  <app-nav-buttons></app-nav-buttons>
  <h3>Cadastrar Usuário</h3>
  <div class='description'><b>Cadastro inicial:</b> os dados fornecidos nesse formulário serão cadastrados no sistema
  e um e-mail com um link para completar o cadastro será enviado para o endereço especificado.
  Só após o usuário finalizar o seu cadastro que este terá acesso ao sistema.
  </div>
  <form [formGroup]='registerForm' (ngSubmit)="registerUser(registerForm.value)" 
  novalidate>
    <hr>
    <div class="form-row">
      <div class="col-md-12 mb-4">
        <label for="validationCustomEmail">E-Mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="text" class="form-control" id="validationCustomEmail" placeholder="E-mail" 
          aria-describedby="inputGroupPrepend" formControlName='email' id='email'
          [ngClass]="{'is-invalid': !isFieldValid('email')}" autofocus>
          <div class='invalid-feedback'>
            Digite um e-mail válido
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-4">
        <label for="validationCustom04">Departamento</label>
        <select class="form-control" id="validationCustom04" placeholder="Departamento" 
          formControlName='department'
          [ngClass]="{'is-invalid': !isFieldValid('department')}">
          <option *ngFor="let dept of departments" value='{{ dept.label }}'>{{ dept.label }}</option>
        </select>
        <div class='invalid-feedback'>
          Escolha um departamento
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="validationCustom05">Nível de Permissão</label>

        <div class="form-group">
          <div class='row'>

            <!-- Normal -->
            <div class='col-4'>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline1" 
                [formControl]="registerForm.controls['level']" name="level" value='0'>
                <label class="custom-control-label" for="defaultInline1">
                    Normal<br>
                    <div class='col-xs-11 radio-level-legend'>
                        Usuário normal, com restrições padrão, 
                        pode visualizar, criar NPI's e O&M's e editá-las, restrito ao seu departamento.
                      </div>
                </label>
              </div>
            </div>
            
            <!-- Master -->
            <div class='col-4'>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" 
                name="level" value='1' [formControl]="registerForm.controls['level']">
                <label class="custom-control-label" for="defaultInline2">
                  Master<br>
                  <div class='col-xs-11 radio-level-legend'>
                    Usuário privilegiado, pode sobrescrever decisões da análise crítica, 
                    independente do departamento. 
                    Pode visualizar usuários.
                  </div>
                </label>
              </div>
            </div>
            
            <!-- Administrador-->
            <div class='col-4'>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline3"
                name="level" value='2' [formControl]="registerForm.controls['level']">
                <label class="custom-control-label" for="defaultInline3">
                  Administrador<br>
                  <div class='col-xs-11 radio-level-legend'>
                    Usuário com nível de permissão máximo, pode editar qualquer campo. 
                    Deve ser usado somente para propósito de manutenção do sistema.
                    Pode criar/editar/excluir usuários.
                  </div>
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class='alert' *ngIf="registerResponse" [ngClass]="{
      'alert-success' : registerSent,
      'alert-danger' : !registerSent
     }">
      {{ registerResponse }}
    </div>
    <div class="row align-items-center justify-content-center">
      <button type="submit" class="btn btn-success" *ngIf='!sendingRegister'
      [disabled]="!registerForm.valid || sendingRegister">
        Cadastrar Usuário
      </button>
      <span class='fa fa-circle-o-notch fa-spin fa-2x text-secondary' *ngIf='sendingRegister'></span>
    </div>
 </form>
</div>
