<div class="form-row">
  <div class='col'>
    <label for='activities' class=col>
      <center>
        <h4>Etapas O&M</h4>
      </center>
    </label>
    <div id='activities' class='table-responsive' [formGroup]='activitiesFormGroup'>
      <table class="table table-sm table-bordered table-hover" #table>
        <thead class='thead-light' id='tableHead'>
          <tr>
            <th scope="col" rowspan=2>#</th>
            <th scope="col" rowspan=2>Atividade</th>
            <th scope="col" rowspan=2>Responsável</th>
            <th scope="col" colspan=3>Prazo</th>
            <th scope="col" rowspan=2 *ngIf='npi.stage>=1 && npi.isCriticallyApproved()'>Arquivos</th>
            <th scope="col" rowspan=1 *ngIf='npi.stage>=1 && npi.isCriticallyApproved()'>Status</th>
          </tr>
          <tr>
            <th scope=col>Período (dias)</th>
            <th class='date' scope=col>Início</th>
            <th class='date' scope=Fim>Término</th>
            <th *ngIf='npi.stage>=1 && npi.isCriticallyApproved()'>
              <button class='btn btn-sm btn-light text-primary shadow-none pr-0' type=button (click)='closeAllActivities()'>
                <i class='fa fa-check pr-0 mr-0'></i>
                <i class='fa fa-check m-0 p-0' style='position: relative; left:-9px'></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody #tableBody id='tableBody' formArrayName='oemActivities'>
          <tr *ngFor='let activity of activitiesFormArray.controls; let last = last; index as i;' [formGroupName]='i'
            [appActivityRow]='activity' [ngClass]='activity.get("apply").value ? "applyable" : "not-applyable"'
            [disabled]='activity.get("closed").value' [style.display]='displayActivityRow(activity)'>
            <td>
              {{ i+1 }}
            </td>
            <td>
              {{ utils.getOemActivity(activity.get("activity").value).label }}
            </td>
            <td [appActivityRow]='activity'>
              {{ npi.oemActivities[i].dept }}
              <select class='custom-select' formControlName='responsible'>
                <option *ngFor='let user of users[npi.oemActivities[i].dept]' value='{{ user._id }}'>{{ user.firstName }}
                  {{ user.lastName }}</option>
              </select>
            </td>
            <td [ngClass]='{"text-danger": activity.get("term").value < 0 }'>
              <input type='number' class='form-control' formControlName='term' style='width: 60px' min=0 id='{{activity.get("activity").value}}_TERM'
                appBlink>
            </td>
            <td>
              <span id='{{activity.get("activity").value}}_START_DATE' appBlink>
                {{ this.utils.formatDate(activity.get('startDate').value) }}
              </span>
            </td>
            <td>
              <input type='text' class='form-control' formControlName='endDate' aria-describedby="Data final para atividade {{ npi.oemActivities[i].activity }}"
                [ngClass]='{"is-invalid text-danger": fieldHasErrors(i+".term") || activity.get("endDate").value < activity.get("startDate").value || (last && activity.get("endDate").value > npi.inStockDate) }'
                #edp="bsDatepicker" bsDatepicker [bsConfig]='datePickerConfig[i]' placement='right' id='{{activity.get("activity").value}}_END_DATE'
                appBlink [activity]='activity' [npi]=npi [dependencies]='getControlsDependencyActivities(activity)'
                [dependents]='getControlsDependentActivities(activity)'>
            </td>
            <td *ngIf='npi.stage>=1 && npi.isCriticallyApproved()'>
              <app-file-button *ngIf='utils.getOemActivity(activity.get("activity").value).annex' [fieldControl]='activity'
                [fieldLabel]='activity.get("activity").value' [parent]='"oemActivities"' [npiNumber]='npi.number'
                [editFlag]='editFlag' [canEdit]='canCloseActivity(activity)'></app-file-button>
            </td>
            <td class=signature *ngIf='npi.stage>=1 && npi.isCriticallyApproved()'>
              <button type=button class='btn btn-block btn-light text-secondary shadow-none m-0' (click)='closeActivity(activity)'
                *ngIf='!activity.get("closed").value && canCloseActivity(activity)' [disabled]='!npiComponent.editFlag'
                data-toggle="tooltip" data-placement="bottom" title="Salvar anexos e concluir atividade">
                <i class='fa fa-fw fa-check'></i>
              </button>
              <span *ngIf='!activity.get("closed").value && !canCloseActivity(activity)' data-toggle="tooltip"
                data-placement="bottom" title="Aguardando conclusão">
                <i class='fa fa-clock-o fa-lg text-warning'></i>
              </span>
              <span *ngIf='activity.get("closed").value'>
                <i class='fa fa-check fa-sm text-success'></i>
                {{ signatures[i] }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
